body {
    font-family: sans-serif;
       margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}
.container{
max-width:800px;
margin: 0 auto;
color: green;
font-family: sans-serif;
padding-left:40px;
padding-right:40px;
}
.intro{
   max-width:500px;
margin: 0 auto;
color: blue;
font-family: sans-serif;
padding-left:40px;
padding-right:40px; 
}
.links{
max-width:500px;
margin: 0 auto;
color: yellow;
font-family: sans-serif;
padding-left:40px;
padding-right:40px; 
}